
.navbar {
  background-color: #b6b6b6;
  padding: 10px;
  margin-bottom: 35px;
}

.navbar .navbar-brand > a{
  font-weight: bold;
}

.navbar .navbar-brand > a:hover{
  color: white;
  text-decoration: none
}

ul.post-list {

}

ul.post-list > li.post-list-item {
  margin-bottom: 10px;
}